<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TalkIQ Oauth Login</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
  </head>
  <body>
    <div class="models">
      {% for model_name, model_dict in klasses.iteritems() %}
        <div class="model">
          <div class="name"> {{ model_name }} </div>
          <div class="properties">
            {% for prop_name, prop_obj in model_dict.properties.iteritems() %}
            <div class="property">
              <span class="name"> {{ prop_name }} </span>
              <span class="kind">
                {{ prop_obj.propClass.__class__.__name__ | replace("Property","") }} </span>
              <span class="examples">
                {% for e in prop_obj.vals %}
                <span class="example">
                  {{ e }}
                </span>
                {% endfor %}
              </span>
            </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </ul>
  </body>
</html>
